@use 'config.scss' as c;

.art003{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    row-gap: 2rem;
    @media only screen and (min-width: c.$tablet){
        row-gap: 3rem;
    }
    @media only screen and (min-width: c.$desktop){
        row-gap: 4rem;
    }

    >p{
        width: 100%; // Sin esto no funciona el text-align
        text-align: left;
    }

    >div{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        gap: 1rem;
    }

    .ficha{
        width: 46%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        row-gap: 1rem;
        background-color: c.$color-claro;

        @media only screen and (min-width: c.$tablet){
            width: 30%;
        }

        img{
            width: 30px;
            @media only screen and (min-width: c.$tablet){
                width: 50px;
            }
            @media only screen and (min-width: c.$desktop){
                width: 60px;
            }
        }

        p{
            font-size: clamp(0.8rem, 3vw, 1rem);
        }
    }
}