@use 'config.scss' as c;

.art001{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    row-gap: 2rem;
    @media only screen and (min-width: c.$tablet){
        row-gap: 3rem;
    }
    @media only screen and (min-width: c.$desktop){
        row-gap: 4rem;
    }

    >:nth-child(1){
        width: 100%; // Sin esto no funciona el text-align
        text-align: left;
        @media only screen and (min-width: c.$desktop){
            text-align: center;
        }
    }

    img{
        width: 100%;
        //height: calc(100dvw - c.$padMin * 2);
        aspect-ratio: 1/1;
        object-fit: cover;
        object-position: center;
        @media only screen and (min-width: c.$tablet){
            //height: 400px;
            aspect-ratio: 16/9;
        }
    }

    p{
        width: 100%;
        @media only screen and (min-width: c.$tablet){
            width: 80%;            
        }
        @media only screen and (min-width: c.$desktop){
            width: 70%;
        }
    }
}