@use 'config.scss' as c;

.art002{
    width: 100%;
    padding: c.$padMin;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    row-gap: 2rem;
    @media only screen and (min-width: c.$tablet){
        width: 90%;
        row-gap: 3rem;
    }
    @media only screen and (min-width: c.$desktop){
        width: 60%;
        row-gap: 4rem;
    }

    >div{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        row-gap: 5rem;
        @media only screen and (min-width: c.$tablet){
            flex-direction: row;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: center;
            column-gap: 8rem;
        }
        @media only screen and (min-width: c.$tablet){
            column-gap: 10rem;
        }

        .contenedor-lista{
            padding: 1rem;
            max-width: 500px;
            background-color: c.$color-primary;
            border-radius: 10px;
            box-shadow: 0 0 15px c.$color-sombra;
            transition: .5s ease-in-out;

            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            row-gap: 1.5rem;
            @media only screen and (min-width: c.$tablet){
                border-radius: 15px;
                padding: 2rem;
            }

            &:hover{
                background-color: c.$color-oscuro;
                transform: scale(1.05);
                >:nth-child(1){
                    color: c.$color-claro;
                }
                >ul li{
                    img{
                        filter: brightness(0) invert(1);
                    }
                    span {
                        color: c.$color-claro;
                    }
                }
            }

            >:nth-child(1){
                width: 100%; // Sin esto no funciona el text-align
                text-align: left;
            }

            ul{
                list-style: none;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                row-gap: 0.5rem;
                @media only screen and (min-width: c.$tablet){
                    row-gap: 0.75rem;
                }
                @media only screen and (min-width: c.$desktop){
                    row-gap: 1rem;
                }
            
                li{
                    font-size: 1rem;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    column-gap: 0.5rem;

                    img{
                        width: 20px;
                        transition: 0.2s ease-in-out;
                        filter: invert(14%) sepia(42%) saturate(788%) hue-rotate(14deg) brightness(92%) contrast(97%);
                        @media only screen and (min-width: c.$tablet){
                            width: 25px;
                        }
                        @media only screen and (min-width: c.$desktop){
                            width: 30px;
                        }
                    }
                    span{
                        transition: 0.2s ease-in-out;
                    }
                }
            }
        }
    }
}